<!--About section-->
<section id="about" class="bgGrey tCenter">
  <!--Container-->
  <div class="container clearfix">
    
    <!--Intro-->
    <div class="one-third column intro">
      <h1>A bit about me</h1>
      <p>Hi, I’m Ashley. I’m a problem solver and analytical thinker with a streak of creativity. I am passionate about creating things that enrich lives and am inspired by simple and elegant design.</p>
    </div>
    <!--End intro-->
    
    <!--Profile-->
    <div class="one-third column profile">
      <div class="innerProfile">
        <h1 class="prfTitle">My name is ashley tindell<span>web developer / creative problem solver</span></h1>
        <div class="imgProfile">
          <img width="220" alt="profile" src="assets/profile.jpg">
        </div>  
        <!-- <div class="doubleBtn profileBtn">
          <a class="doubleLeft scroll" href="#portfolio">portfolio</a>
          <span class="choose"><i>or</i></span>
          <a class="doubleRight scroll" href="#contact">contact</a>
        </div> -->
      </div>
    </div>
    <!--End profile-->
    
    <!--Info-->
    <div class="one-third column info">
      <h1>Contact info</h1>
      <ul>
        <li><span>Phone</span> : 678.427.7296</li>
        <li><span>Email</span> : tindell.ea (at) gmail.com</li>
        <li><span>GitHub</span> : <a href="http://github.com/ashtindell">www.github.com/ashtindell</a></li>
      </ul>
      <div class="infoSocial">
        <ul>
          <li><a href="https://www.linkedin.com/in/tindellashley"><i class="icon-linkedin"></i></a></li>
          <li><a href="https://twitter.com/ashtindell"><i class="icon-twitter"></i></a></li>
          <li><a href="http://www.pinterest.com/ashtindell/"><i class="icon-pinterest"></i></a></li>
          <!-- <li><a href="#"><i class="icon-facebook"></i></a></li> -->
          <!-- <li><a href="#"><i class="icon-dribbble"></i></a></li> -->
          <!-- <li><a href="#"><i class="icon-vimeo"></i></a></li> -->
          <!-- <li><a href="#"><i class="icon-flickr"></i></a></li> -->
        </ul>
      </div>
    </div>
    <!--End info--> 
  </div>
  <!--End container-->
</section>
<!--End about section