<!--About section-->
<section id="about" class="bgGrey">
  <!--Container-->
  <div class="container clearfix">
    
    <!--Intro-->
    <div class="one-third column intro">
      <h1 class="tCenter">A bit about me</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
         nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!--End intro-->
    
    <!--Profile-->
    <div class="one-third column profile tCenter">
      <div class="innerProfile">
        <h1 class="prfTitle">My name is john Smith<span>iam a web designer / web developer</span></h1>
        <div class="imgProfile">
          <img width="220" height="200" alt="" src="assets/Ashley-Headshot-SQ.jpg">
        </div>  
        <div class="doubleBtn profileBtn">
          <a class="doubleLeft scroll" href="#portfolio">portfolio</a>
          <span class="choose"><i>or</i></span>
          <a class="doubleRight scroll" href="#contact">contact</a>
        </div>
      </div>
    </div>
    <!--End profile-->
    
    <!--Info-->
    <div class="one-third column info">
      <h1 class="tCenter">Personal info</h1>
      <ul>
        <li><span>Birthdate</span> : 09/04/1982</li>
        <li><span>Phone</span> : + 123-456-789-456</li>
        <li><span>Email</span> : support@mutationmedia.net</li>
        <li><span>Website</span> : www.mutationmedia.com</li>
        <li><span>Adresse</span> : Street Road, City Name, IN 567 890.</li>
      </ul>
      <div class="infoSocial">
        <ul>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-gplus"></i></a></li>
          <li><a href="#"><i class="icon-pinterest"></i></a></li>
          <li><a href="#"><i class="icon-linkedin"></i></a></li>
          <li><a href="#"><i class="icon-dribbble"></i></a></li>
          <li><a href="#"><i class="icon-vimeo"></i></a></li>
          <li><a href="#"><i class="icon-flickr"></i></a></li>
        </ul>
      </div>
    </div>
    <!--End info--> 
  </div>
  <!--End container-->
</section>
<!--End about section-->