<!--Portfolio section-->
<section id="portfolio" class="tCenter ofsTop ofsBottom">

  <!--Container-->
  <div class="container clearfix">
    <h1 class="title">my portfolio</h1>
    <!--Filter nav-->
    <div class="filterNav">
      <ul class="filter" id="category">
        <li class="all current"><a href="#">All</a></li>
        <li class="catDev"><a href="#">Web Development</a></li>
        <li class="catDesign"><a href="#">Web Design</a></li>
        <li class="catWP"><a href="#">WordPress</a></li>
        <li class="catEcom"><a href="#">E-Commerce</a></li>
        <li class="catBrand"><a href="#">Branding/Logo Design</a></li>
      </ul>
    </div>
    <!--End filter nav-->
  </div>
  <!--End container-->
    
  <!-- Works list -->
  <div class=" works clearfix ">
    <!--Portfolio-->
    <ul class="portfolio clearfix">
      <li class="item" data-id="id-1" data-type="catDev catDesign catBrand">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Crave<span>web development, logo design</span></h3>
            <div class="btn whtBtn">
              <a href="projects/1" class="doubleRight">View Details</a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/crave.jpg" alt="">
      </li>
      
      <li class="item" data-id="id-3" data-type="catDev catDesign">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Trailfolio<span>web development</span></h3>
            <div class="btn whtBtn">
              <a href="projects/3" class="doubleRight">View Details</a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/trailfolio.jpg" alt="">
      </li>
      
      <li class="item" data-id="id-2" data-type="catDev catDesign catBrand">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Kaboodle<span>web development, logo design</span></h3>
            <div class="btn whtBtn">
              <a href="projects/2" class="doubleRight">View Details</a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/kaboodle.jpg" alt="">
      </li>

      <li class="item" data-id="id-4" data-type="catDesign catWP catBrand">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>S&K Event Design and Rentals<span>wordpress, branding/logo design</span></h3>
            <div class="btn whtBtn">
              <a href="projects/6" class="doubleRight">View Details</a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/skevents.jpg" alt="">
      </li>

      <li class="item" data-id="id-5" data-type="catDesign catWP">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>ChristChurch Suwanee<span>wordpress</span></h3>
            <div class="btn whtBtn">
              <a href="projects/5" class="doubleRight">View Details</a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/ccs.jpg" alt="">
      </li>

      <li class="item" data-id="id-6" data-type="catDesign catWP catEcom">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Metro Atlanta Seminary<span>wordpress, ecommerce</span></h3>
            <div class="btn whtBtn">
              <a href="projects/4" class="doubleRight">View Details</a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/mas.jpg" alt="">
      </li>

      <li class="item" data-id="id-6" data-type="catDesign catWP catBrand">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Ghent CareGivers<span>wordpress, logo design</span></h3>
            <div class="btn whtBtn">
              <a href="projects/7" class="doubleRight">View Details</a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/ghent.jpg" alt="">
      </li>

      <li class="item" data-id="id-6" data-type="catDesign catWP">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>New City Church<span>wordpress</span></h3>
            <div class="btn whtBtn">
              <a href="projects/8" class="doubleRight">View Details</a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/newcity.jpg" alt="">
      </li>      
    </ul>
    <!--End portfolio-->
  </div>
  <!-- End works list -->
</section>
<!--End portfolio section-->