<!--Portfolio section-->
<section id="portfolio" class="tCenter ofsTop ofsBottom">

  <!--Container-->
  <div class="container clearfix">
    <h1 class="title">my portfolio</h1>
    <!--Filter nav-->
    <div class="filterNav">
      <ul class="filter" id="category">
        <li class="all current"><a href="#">All</a></li>
        <li class="catWeb"><a href="#"> Web Design</a></li>
        <li class="catGraphic"><a href="#">Graphic Design</a></li>
        <!-- <li class="catMotion"><a href="#" class="last">Motion Graphic</a></li> -->
      </ul>
    </div>
    <!--End filter nav-->
  </div>
  <!--End container-->
    
  <!-- Works list -->
  <div class=" works clearfix ">
    <!--Portfolio-->
    <ul class="portfolio clearfix">
      <li class="item" data-id="id-1" data-type="catWeb">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Testy Raspberry<span>web design</span></h3>
            <div class="doubleBtn itemBtn ">
              <a  href="assets/portfolioImages/w1.jpg" class="doubleLeft folio"><i class="icon-eye"></i></a>
              <a href="project.html" class="doubleRight"><i class="icon-link"></i></a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/w1.jpg" alt="">
      </li>

      <li class="item" data-id="id-2" data-type="catWeb">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Summer Time<span>motion graphic</span></h3>
            <div class="doubleBtn itemBtn ">
              <a  href="assets/portfolioImages/w2.jpg" class="doubleLeft folio"><i class="icon-eye"></i></a>
              <a href="project_video.html" class="doubleRight"><i class="icon-link"></i></a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/w2.jpg" alt="">
      </li>

      <li class="item" data-id="id-3" data-type="catGraphic">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Skyscraper<span>graphic design</span></h3>
            <div class="doubleBtn itemBtn ">
              <a  href="assets/portfolioImages/w3.jpg" class="doubleLeft folio"><i class="icon-eye"></i></a>
              <a href="project.html" class="doubleRight"><i class="icon-link"></i></a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/w3.jpg" alt="">
      </li>

      <li class="item" data-id="id-4" data-type="catGraphic">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Summer Time<span>graphic design</span></h3>
            <div class="doubleBtn itemBtn ">
              <a  href="assets/portfolioImages/w4.jpg" class="doubleLeft folio"><i class="icon-eye"></i></a>
              <a href="project_video.html" class="doubleRight"><i class="icon-link"></i></a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/w4.jpg" alt="">
      </li>

      <li class="item" data-id="id-5" data-type="catGraphic">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Great Restaurant<span>web design</span></h3>
            <div class="doubleBtn itemBtn ">
              <a  href="assets/portfolioImages/w5.jpg" class="doubleLeft folio"><i class="icon-eye"></i></a>
              <a href="project.html" class="doubleRight"><i class="icon-link"></i></a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/w5.jpg" alt="">
      </li>

      <li class="item" data-id="id-6" data-type="catMotion">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Runing Road<span>motion design</span></h3>
            <div class="doubleBtn itemBtn ">
              <a  href="assets/portfolioImages/w6.jpg" class="doubleLeft folio"><i class="icon-eye"></i></a>
              <a href="project_video.html" class="doubleRight"><i class="icon-link"></i></a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/w6.jpg" alt="">

      </li>
      
<!--       <li class="item" data-id="id-7" data-type="catMotion">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Night Light<span>web design</span></h3>
            <div class="doubleBtn itemBtn ">
              <a  href="assets/portfolioImages/w7.jpg" class="doubleLeft folio"><i class="icon-eye"></i></a>
              <a href="project.html" class="doubleRight"><i class="icon-link"></i></a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/w7.jpg" alt="">
      </li>

      <li class="item " data-id="id-8" data-type="catMotion">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Cheat Day<span>motion graphic</span></h3>
            <div class="doubleBtn itemBtn ">
              <a  href="assets/portfolioImages/w8.jpg" class="doubleLeft folio"><i class="icon-eye"></i></a>
              <a href="project_video.html" class="doubleRight"><i class="icon-link"></i></a>
            </div>
          </div>  
        </div>
        <img src="assets/portfolioImages/w8.jpg" alt="">
      </li>

      <li class="item " data-id="id-9" data-type="catMotion">
        <div class="itemDesc">
          <div class="itemDescInner">
            <h3>Speed Road<span>web design</span></h3>
            <div class="doubleBtn itemBtn ">
              <a href="assets/portfolioImages/w9.jpg" class="doubleLeft folio"><i class="icon-eye"></i></a>
              <a href="project.html" class="doubleRight"><i class="icon-link"></i></a>
            </div>
          </div>
        </div>
        <img src="assets/portfolioImages/w9.jpg" alt="">
      </li> -->

    </ul>
    <!--End portfolio-->
  </div>
  <!-- End works list -->
</section>
<!--End portfolio section-->