<!--Slider-->
<div class="slider">
  <!--Main slider-->
  <div class=" mainSlider flexslider">
    <ul class="slides">
      <li><img src="assets/sliderImages/slide1.jpg" class="slide" alt=""/>
        <div class="caption">
          <div class="captionInner">
            <h1>Hi, I'm Ashley</h1>
          </div>
          <div class="sub">
            <h4></h4>
          </div>
        </div>
      </li>
      <li><img src="assets/sliderImages/slide2.jpg" class="slide" alt="" />
        <div class="caption">
          <div class="captionInner">
            <h1>I'm a web developer</h1>
          </div>
          <div class="sub">
            <h4></h4>
          </div>
        </div>
      </li>
      <li><img src="assets/sliderImages/slide3.jpg" class="slide" alt="" />
        <div class="caption">
          <div class="captionInner">
            <h1>and creative problem solver</h1>
          </div>
          <div class="sub">
            <h4></h4>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--End main slider-->
</div>
<!--End  slider-->