<!--Quotes-->
<div class="testimonials">
  <!--Overlay-->
  <div class="overlay">
    <!--Container-->
    <div class="container clearfix">
      <div class="sixteen columns">
        <!--Quotes slider-->
        <div class="testiSlider clearfix flexslider">
          <ul class="slides">
            <li>
              <blockquote>
                You can never get a cup of tea large enough or a book long enough to suit me. 
              </blockquote>
              <h3 class="testiProfile"><i class="icon-circle "></i>C.S. Lewis<i class="icon-circle "></i> <span>writer</span></h3>
            </li>
            <li>
              <blockquote>
                We find rest in the incompleteness of the present moment as we learn to recognize the goodness of what is and as we trust that what is needed for the future will be added at the proper time. 
              </blockquote>
              <h3 class="testiProfile"><i class="icon-circle "></i>Sally Breedlove<i class="icon-circle "></i> <span>writer, <em>Choosing Rest</em></span></h3>
            </li> 
          </ul> 
        </div>
        <!--End quotes slider-->
      </div>
    </div>
    <!--End container-->
  </div>
  <!--End overlay-->
</div>
<!--End quotes-->