<footer class="footer  offset">
  <!--Container-->
  <div class="container clearfix">
    <div class="eight columns">
      <p>&copy; 2015 <span class="bLogo">Ashley Tindell</span> All Rights Reserved.</p>
    </div>
    <div class="eight columns ">
      <ul class="right">
      <li><a href="https://www.linkedin.com/in/tindellashley">LinkedIn</a></li>
      <li><a href="https://twitter.com/ashtindell">Twitter</a></li>
      <li><a href="http://www.pinterest.com/ashtindell/">Pinterest</a></li>
      
      </ul>
    </div>
  </div>
  <!--End container-->
</footer>